# Внутренний порт gunicorn (в контейнере)
PORT=8080

# Порт, который будет проброшен из контейнера на хост
HOST_PORT=<HOST_PORT>

# Yandex Cloud
REGISTRY_ID=<REGISTRY_ID>
service_account_id=<service_account_id>
IMAGE=cr.yandex/${REGISTRY_ID}/geosensors
TAG=latest

# Параметры gunicorn
GUNICORN_WORKERS=2
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=120

RUDN_BASE_URL=http://94.154.11.74/frost/v1.1
OTHER_BASE_URL=http://90.156.134.128:8080/FROST-Server/v1.1
REQUEST_TIMEOUT=300

FLASK_ENV=production
