services:
  frontend:
    build: .
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    depends_on:
      db-spatial:
        condition: service_healthy
      db-frost:
        condition: service_healthy
    volumes:
      - ./:/app
    command: |
      sh -c '
      python - << "PY"
      import os, time, sys
      import psycopg2

      def wait_db(host, port, db, user, pw, label):
          for _ in range(180):  # ~6 минут
              try:
                  conn = psycopg2.connect(
                      host=host, port=port, dbname=db,
                      user=user, password=pw, connect_timeout=3
                  )
                  conn.close()
                  print(f"{label} ready")
                  return
              except Exception as e:
                  print(f"waiting for {label}... {e}")
                  time.sleep(2)
          sys.exit(f"timeout waiting for {label}")

      wait_db(
          ${PGHOST},
          ${PGPORT},
          ${PGDATABASE},
          ${PGUSER},
          ${PGPASSWORD},
          "GIS"
      )

      wait_db(
          ${DB_HOST},
          ${DB_PORT},
          ${DB_NAME},
          ${DB_USER},
          ${DB_PASS},
          "FROST"
      )
      PY
      exec python app.py
      '
    restart: always

  db-spatial:
    image: uroplatus666/gis-db:latest
    container_name: ${PGHOST}
    restart: always
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
    ports:
      - "${PG_EXTERNAL_PORT}:${PGPORT}"
    volumes:
      - gisdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PGUSER} -d ${PGDATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 15s

  db-frost:
    image: uroplatus666/frost-db:latest
    container_name: ${DB_HOST}
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_EXTERNAL_PORT}:${DB_PORT}"
    volumes:
      - frostdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 15s

volumes:
  gisdata:
  frostdata:
